/* lavender blush, light coral, misty rose, light pink, light steel blue */

body {
    background-color: lavenderblush;
}

.container {
    display: flex;
    gap: 50px;
    margin: 20px;
}

.projects {
    width: 20vw;
    height: 95vh;
    border: 5px solid lightcoral;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
}

.content {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    border: 5px solid lightcoral;
    border-radius: 10px;
    width: 80vw;
    height: 95vh;
}

button[type="submit"], .newProject {
    width: 100px;
    height: 30px;
    border-radius: 15px;
    background-color: mistyrose;
    border: 3px solid lightsalmon;
}

.content p {
    align-self: center;
}

.check {
    border-radius: 500px;
    background-color: lightsteelblue;
    height: 30px;
    width: 30px;

}

.task {
    display: flex;
    gap: 15px;
    margin: 15px;
    box-sizing: border-box;
    align-items: center;
}

.descr {
    width: 150px;
    margin-left: 85px;
    border: 2px solid black;
}

.taskTitle {
    width: 150px;
    border: 2px solid black;
    
}

.priority {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.urgent {
    background-color: crimson;
}

.moderate {
    background-color: goldenrod;
}

.titleCheck {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}